.testimon-bg {
    display: block;
    width: 100%;
    margin: auto;
    background-image: url('/TestimonialsBG.svg');
}

.testimon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #12372ad5;
}

.testimon-content {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 80px 0px;
}

.testimon-text-wrapper {
    display: block;
    margin: auto;
}

.Testimon-box {
    display: flex;
    font-family: var(--font-text);
    margin-bottom: 15px;
}

.testimon-header {
    margin: auto;
    color: var(--icon-color);
    font-weight: bold;
    font-size: 25px;
}

.testimon-title {
    margin: auto;
    color: var(--primary-color);
    font-size: 52px;
    font-weight: bold;
}

.testimon-text-content {
    margin: auto;
    text-align: center;
    width: 55%;
    font-size: 16px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.testimon-comment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68%;
    margin: auto;
    gap: 25px;
}