.blog-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.blog-wrapper {
    display: block;
    margin: auto;
    width: auto;
    width: 75%;
    font-family: var(--font-text);
    margin-top: 100px;
    margin-bottom: 100px;
}

.blog-content {
    display: block;
}

.blog-post-wrapper {
    display: flex;
}