.ourservice-bg {
    display: block;
    width: 100%;
}

.ourservice-wrapper {
    display: flex;
    align-items: center;
    margin: auto;
    margin: 100px 0px;
}

.ourservice-content {
    display: block;
    margin: auto;
    width: 75%;
    justify-content: center;
}

.ourservice-info {
    display: flex;
    margin: auto;
    font-family: var(--font-text);
}

.ourservice-tiles {
    display: flex;
    margin-top: 30px;
    gap: 25px;
}

.ourservice-texttilewrapper {
    width: 25%;
    display: block;
    gap:24px;
}

.ourservice-texttile-box {
    margin-bottom: 23px;
}

.ourservice-tile-box {
    background-color: lightgray;
    border: 5px solid rgb(240, 239, 239);
    display: block;
    
    width: 519px;
    height: 327px;
}