.faq-bg {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-color);
}

.faq-wrapper {
    display: block;
    margin: auto;
    height: 100%;
    width: 70%;
    font-family: var(--font-text);
    color: var(--secondary-color);
    margin-top: 100px;
    margin-bottom: 100px;
}

.faq-content {
    display: flex;
}

.faq-intro-wrapper {
    display: block;
    width: 100%;
    margin-right: 50px;
}

.Faq-text-box {
    display: block;
}

.faq-intro-header {
    color: var(--icon-color);
    font-size: 25px;
    font-weight: bold;
    margin: auto;
}

.faq-intro-title {
    font-size: 52px;
    font-weight: bold;
    margin: auto;
}

.faq-into-text {
    width: 70%;
}

.faq-accordian-wrapper {
    display: block;
    width: 100%;
}