.booking-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.booking-wrapper {
    display: block;
    margin: auto;
    width: auto;
    width: 68%;
    font-family: var(--font-text);
    color: var(--secondary-color);
    margin-top: 100px;
    margin-bottom: 100px;
}

.booking-intro-wrapper {
    width: 54%;
}

.booking-content {
    display: flex;
    gap: 20px;
}

.booking-intro-box {
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.booking-head {
    font-size: 25px;
    font-weight: bold;
    color: var(--icon-color);
    margin: auto;
    width: auto;
    margin-bottom: 20px;
}

.booking-title {
    text-overflow: clip;
    text-align: start;
    font-size: 50px;
    font-weight: bold;
    color: var(--secondary-color);
    margin: auto;
    text-overflow: clip;
}

.booking-rightside-wrapper {
    display: flex;
    align-items: last baseline;
}

.booking-rightside-wrapper {
    width: 100%;
}

.booking-screen-wrapper {
    display: block;
    width: 673px;
    height: 545px;
    background-color: lightgray;
    border: 3px solid rgb(240, 239, 239);
}

.booking-accountbox-wrapper {
    display: block;
    background-color: #FAF8EC;
    padding: 40px 30px;
    border-radius: 10px;
}

.booking-inputbar-wrapper {
    display: block;
}

.booking-email-telephone {
    gap: 20px;
}

.booking-input {
    border:none;
    border: 1px solid var(--icon-color);
    border-radius: 5px;
    margin: auto;
    height: 58px;
    color: var(--icon-color);
    width: auto;
    width: 100%;
    padding: 10px 15px;
    font-family: var(--font-text);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.booking-input-name {
    color: var(--secondary-color);
}

.booking-email-telephone {
    display: flex;
}

.booking-button-wrapper {
 margin-top: 15px;
}

#booking-comment {
    height: 150px;
    width: 100%;
    padding: 10px 15px;
    resize: none;
}

.booking-label-wrapper {
    display: flex;
}

.bookactive {
border-color: red;  
}

.div-text-name {
    display: flex;
    margin: auto;
    margin-left: 10px;
    color: red;
}