.darkbutton-wrapper {
    display: flex;
    width: auto;
    margin: auto;
}

.darkbutton {
        
    display: block;
    background-color: var(--icon-color);
    border-radius: 5px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    align-content: center;
    
    &:hover {
        color: var(--secondary-color);
        background-color: var(--primary-color);
    }
}

.darkbutton-text {
    padding: 15px 20px;
    display: flex;
    margin: auto;
    cursor: pointer;
}