.brands-bg {
    display: block;
    width: 100%;
    background-color: #FAF8EC;
}

.brands-wrapper {
    display: flex;
    justify-content:center;
    justify-items: center;
    gap:100px;
    margin: auto;
    width: 70%;
    padding: 45px 0px;
}

.brands-logo {
    display: flex;
    position: relative;
    margin: auto;
    width: 100%;
    padding: 10px;
    
    &:hover {
        bottom:10px;
        background-color: var(--icon-color);
        border-radius: 10px;
    }
}

.brands-logo-link {
    margin: auto;
}