@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* { box-sizing: border-box; }

:root {
--primary-color: #ffffff;
--secondary-color: #12372A;
--icon-color: #F1C30C;
--font-text: "Manrope", sans-serif;
}

a {
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body, html {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
color: black;
}
